h1 {
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  p {
    font-size: larger;    
  }
  div > .phimg1,.phimg2 {
      height: 128px;
  }
  .phimg1 {
      float: left;
      margin: 16px 16px 0 0;
  }
  .phimg2 {
      float: right;
      margin: 12px 12px ;
  }
  main > h1 {
      color: white;
      text-decoration: 4px underline pink;
  }
  
  
  
  